.head-lines{
    background-color:rgba(0,0,0,0.5);
    height: 100px;
    text-align:center;
    padding: 10px;  
    border-bottom: 2px solid #b8860b; 
}
.t2:hover{
    color:#fff !important;
    border-bottom: 2px solid #ffd700;

}

.t2{
    text-decoration: none !important;
    /*font-size: 20px;
    font-family:'Sitka Small';*/
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    text-shadow: 0px 0px 8px rgba(225,215,0,0.6);
    transition: 0.3s;
    color: #ffd700;
    padding: 20px 50px;
}
    .bg_image {
    background:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("./dasara_image4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 590px;
}
.button_style{
   
   /* background-color:#D4AF37 ;
    color: #111827;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;*/
    margin-top: 100px !important;
    width: 150px;
    background: linear-gradient(#b8860b,#fce2a0,#b8860b);
    color: #000;
    border:none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transition: 0.3s;
    padding: 12px;
}
.button_style:hover{
    background: linear-gradient(#b8860b,#fce2a0,#b8860b);
    transform: translateY(-2px);
}
.main {
    color: #fff;
    font-weight: 800;
    text-shadow: 2px 2px 8px #000;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 250px;
    font-family: Georgia;
    font-size: clamp(45px, 8vw, 100px);
}
.next{
    margin-top: 60px;
    height: 100px;
    margin-bottom: 100px !important;
    padding: 50px;
   ;
}
.events{
    margin-top:435px ;
    text-align: center;
    margin-bottom: 50px;
}
.inner-image{
color: linen;
border-radius:20px ;
height: 200px;
text-align: center;
padding: 70px;
box-shadow: 10px 10px 10px gray;
}
.inner-image:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.img_zoom{
 overflow: hidden !important;   
}
.img_zoom:hover{
   transform: scale(100%) ;
   overflow: hidden !important;
}
/*.card_style{
    font-family: Papyrus;
    text-decoration: none !important;
    overflow: hidden !important;
    height: 170px !important;
    text-align: center;
    margin-left: 50px !important;
    width: 600px !important;
    background-image: url("d:/Learning/images/dasara_image6.jpg");
    border-radius: 20px !important;
   
}
.inner_card{
    height: 170px !important;
    margin-left: -13px !important;
    width: 600px !important;
}
.card_style:hover .inner_card{
    transform: scale(110%) !important;
    overflow: hidden !important;
}*/
.text_style{
    text-align: center;
     margin-bottom: 50px; 
     font-family: Georgia; 
     font-size: 36px;
     font-weight: 800;
     color: #b8860b;
}
/*.card_style{
    height: 250px !important;
    width: 45% !important;
    margin: 20px !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: relative;
    text-align: center;
    display: inline-block;
}
.inner_card{
    height: 100% !important;
    width: 100% !important;
    margin-left: 0px !important;
    background-color: rgba(0,0,0,0.7) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.4s;
}
.card_style:hover .inner_card
{
    background-color: rgba(0,0,0,0.7) !important;
    transform: scale(1.05);
}
.inner_card h1{
    color: #ffd700 !important;
    padding: 0px !important;
    font-family: 'poppins',sans-serif;
    text-shadow: 2px 2px 8px black;
}*/
.new_card{
    border-color: #b8860b !important;
    margin: 10px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
}
.inner_button{
    width: 200px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(#b8860b,#fce2a0,#b8860b);
    border: none;
    color: #000;
    font-weight: 500;
}
.new_card:hover .inner_button{
    transform: scale(105%);
}
.second_card{
    border-color: #b8860b !important;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
.second_card:hover{
    transform: scale(103%);
}
.palace_card:hover .inner_button{
    transform: scale(105%);
}
/*.palace_card{
    padding-right: 25px !important; 
    border-radius: 10px; 
    border: none !important; 
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
}*/
